<div class="row">
    <div class="col-md-12">
        <%= form_for @section do |f| %>
            <% if !@section.errors.empty? %>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Error report</h4>
                        <% @section.errors.each do |attribute, error| %>
                            <div class="row">
                                <div class="col-md-12">
                                    <%= attribute %>
                                    <%= error %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            <div class="row">
                <div class="col-md-12">
                    <%= f.text_field :title, placeholder: "Title" %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <%= f.text_area :content, placeholder: "Content" %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <%= f.submit "Submit Section", :class => "flat-rounded-button" %>
                </div>
            </div>
        <% end %>
    </div>
</div>